<!-- start custom footer snippets -->
<div class="page__footer-traffic">
  <script type="text/javascript" id="clustrmaps" src="https://clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=tt&d=eA5xcTFMwdBZ7-AsdnfGEKEHVU1pLQFIPvzHIKAl1rA"></script>
  <noscript>
    <a href="https://clustrmaps.com/site/1bibk" rel="nofollow noopener">
      <img src="https://clustrmaps.com/map_v2.png?d=eA5xcTFMwdBZ7-AsdnfGEKEHVU1pLQFIPvzHIKAl1rA&cl=ffffff" alt="World map visitor counter">
    </a>
  </noscript>
</div>
<a href="/sitemap/">Sitemap</a>
<!-- end custom footer snippets -->
